@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Permanent+Marker&family=Playfair+Display:wght@700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 1350px) {
    body {
      width: 95%;
      float: right;
    }
  }
@media screen and (max-width: 1150px) {
    body {
      width: 92%;
    }
  }
@media screen and (max-width: 1000px) {
    body {
      width: 88%;
    }
  }
@media screen and (max-width: 800px) {
    body {
      width: 120%;
    }
  }
